# ignore macOS's stupid DS_Store files
**/.DS_Store

# ignore environment variable files
.env
.env.local

# ignore node_modules in the proxyserver folder
proxyserver/node_modules/
/Recommendation/.idea
/Recommendation/.cache
Recommendation/.cache
